{% extends "base.html" %}

{% block content %}

       
        <!-- Is {% load staticfiles %} always called once? -->
        {% load staticfiles %}

        <!-- 
        HTML and Django, Managing static files
        
        importing the dropzone.css file to use the dropzone class in the css
        file 
        -->
        <link href="{% static 'dragdrop/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>


        
        <!--  -->
        <form class="dropzone" action="{% url "dragdrop:DraggingAndDropping" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        </form>

       
        <button id="submit-all">
            Submit all files
        </button>
 
        <script src="{% static 'dragdrop/js/dropzone.js' %}"></script>
        <script type="text/javascript">

            // not sure what this does
            Dropzone.options.myDropzone = {
 
                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue : false,
 
                // not sure what this does
                init : function() {

                    // not sure what this does
                    var submitButton = document.querySelector("#submit-all")
                    myDropzone = this;
 
                    submitButton.addEventListener("click", function() {
                        myDropzone.processQueue();
                        // Tell Dropzone to process all queued files.
                    });
 
                    // You might want to show the submit button only when
                    // files are dropped here:
                    this.on("addedfile", function() {
                        // Show submit button here and/or inform user to click it.
                    });
 
                }
            };

        </script>







<!--     
    MEDIA_ROOT = os.path.join(os.path.dirname(BASE_DIR), "static", "media") -->

    <!-- {% load staticfiles %} -->
    <!-- <img src="{% static "media/user_123/elvis-duck.JPG" %}" alt="My image"/> -->

     
    <!-- <img src="{{ MEDIA_ROOT }}/user_123/elvis-duck.JPG"/> -->

    <!-- <img src='/media/user_123/elvis-duck.JPG' alt="my images"/> -->







<!--
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
       
        <button id="save">Load Picture</button>
        <div id="loading"></div>

        <script>
            // $('#save').click(function () {
            //     // add loading image to div
            //     $('#loading').html('<img src="http://preloaders.net/preloaders/287/Filling%20broken%20ring.gif"> loading...');
                
                
            //     // run ajax request
            //     $.ajax({
            //         type: "GET",
            //         dataType: "json",
            //         url: "https://api.github.com/users/jveldboom",
            //         success: function (d) {
            //             // replace div's content with returned data
            //             // $('#loading').html('<img src="'+d.avatar_url+'"><br>'+d.login);
            //             // setTimeout added to show loading
            //             setTimeout(function () {
            //                 $('#loading').html('<img src="' + d.avatar_url + '"><br>' + d.login);
            //             }, 2000);
            //         }
            //     });
            // });
        </script>
-->







        <div id="updatePageWithImage"><h2>This button updates the images dynamically</h2></div>
        <button type="button" onclick="displayImages()">Update</button>






<!--
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <div id="appendlist"></div> 
        <script type="text/javascript">
             
                var dir = "static/media/files/2014/01/";
                var fileextension = ".JPG";

                // "$" means that it is a Jquery object
                $.ajax({   

                    //This will retrieve the contents of the folder if the folder is configured as 'browsable'
                    url: dir,
                
                    success: function (data) {

                        console.log('success', data);

                        //Lsit all png file names in the page
                        $(data).find("a:contains(" + fileextension + ")").each(function () 
                        {
                            // this is replacing the file name?
                            var filename = this.href.replace(window.location.host, "").replace("http:///", "");
                            $("#appendlist").append($("<img src=" + dir + filename + "></img>"));                            
                        });
                    }
                });
        </script>


-->


<!-- THIS IS ANOTHER EXAMPLE OF THE CODE ABOVE
<script type="text/javascript">
$(document).ready(function(){
    // var dir = “static/media/files/2014/01/”;
    var dir = “images/”;
    var fileextension=”.jpg”;
    $.ajax({
    //This will retrieve the contents of the folder if the folder is configured as ‘browsable’
        url: dir,
        success: function (data) {
            //Lsit all png file names in the page
            $(data).find(“a:contains(” + fileextension + “)”).each(function () 
            {
                var filename = this.href.replace(window.location.host, “”).replace(“http:///”,”");
                $(“#view”).append($(“”));
            });
        }
        });
    })
</script>
-->




        <!-- This is an example of displaying images -->
        <!-- figur out a way to retrieve the image files after the dropzone
        has uploaded to the static->media files -->
    
        <!-- Image Focusing, probably will need to a put this into a custom css 
        file and call it -->
        <style type="text/css">
        .pic  img{


                }
       
        .focus img{
               -webkit-transition: all 1s ease;
               -moz-transition: all 1s ease;
               -o-transition: all 1s ease;
               -ms-transition: all 1s ease;
                transition: all 1s ease; 
               }
        .focus img:hover{

                -moz-box-shadow: 0 0 40px #272822; 
                -webkit-box-shadow: 0 0 40px #272822; 
                box-shadow: 0 0 40px #272822; 

                /* this creates a cool effect where the picture floats */
                position: relative;
                float:;
                margin:20px;
               
                /*this is for the brightness*/
                opacity: 0.8; /* good browsers */
                filter: alpha(opacity=80); /* ye 'old IE */


               }

        .focus img:active{
                /*this is for the brightness*/
                opacity: 0.8; /* good browsers */
                filter: alpha(opacity=80); /* ye 'old IE */ 
        }


        </style>




    <!-- WE DO NOT WANT TO HARDCODE THIS! What we can do is use a for loop
    to iterate through a list of images (TA's suggestion)-->
    <!-- this is div with multiple classes -->
<!--     <div class="show-image focus pic">
        <img src="/media/files/2014/11/01/elvis-duck.JPG" />            
        <input class="the-buttons" type="button" value=" Edit " />
    </div> -->


















    <div class="show-image focus pic ">


    {% for image in images %}
        <!-- <img src='{{ MEDIA_URL }}/user_123/{{image}}'/> -->
    {% endfor %}

    <!-- MEDIA_URL = '/media/'     -->
    <img src='{{ MEDIA_URL }}/files/2014/11/01/elvis-duck.JPG'/>





    <script type="text/javascript">
        var imgArray = new Array();

        // need a for-loop to initialize the pictures dynamically we will have to 
        // deliminate the strings by "users + photos"
        imgArray[0] = new Image();
        imgArray[0].src = '/media/files/2014/11/01/elvis-duck.JPG';

        imgArray[2] = new Image();
        imgArray[2].src = '/media/files/2014/11/01/rubber-duck.jpg';

        /* ... more images ... */

        // imgArray[5] = new Image();
        // imgArray[5].src = '/media/files/2014/11/01/rubber-color-duck.JPG.jpg';


        // this for loop should iterate through just the image files 
        for (var i = 0; i < imgArray.length; i++)
        {
            // this only prints out the first image in the array, change this back
            // to the variable "i" so that it can load different images
            document.write("<img src='"+ imgArray[0].src +"'/>");
        }

        // <!-- ON CLICK using JavaScript this is should be at the end of the HTML 
        // file scans for each image occurence in the webpage -->
        var images = document.getElementsByTagName("img");
        for(var i = 0; i < images.length; i++) {
            var image = images[i];

             // $("#cf_onclick").click(function() {

             // }
            
            image.onclick = function(event) {
            //     // this is a test 
            //     // we can possibly put a filter for this onClick event picture
            //     // 
            //     document.write("Quack! I want me filtered!");

            //     // this will be turned in to something that activates a filter for this particular image in the image array.
                // document.write("<img src='"+ imgArray[i].src +"'/>");

            //     // this redirects me to a different page
            //     // window.location.href = this.id + '.html';
            //     // this should react to the edit a button          
            };
        }
    </script>
    </div>

{% endblock %}