{% extends "base.html" %}

{% block content %}

{% load staticfiles %}




<!-- 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
       
        <button id="save">Load Picture</button>
        <div id="loading"></div> 

        <script>
            // $('#save').click(function () {
            //     // add loading image to div
            //     $('#loading').html('<img src="http://preloaders.net/preloaders/287/Filling%20broken%20ring.gif"> loading...');
                
                
            //     // run ajax request
            //     $.ajax({
            //         type: "GET",
            //         dataType: "json",
            //         url: "https://api.github.com/users/jveldboom",
            //         success: function (d) {
            //             // replace div's content with returned data
            //             // $('#loading').html('<img src="'+d.avatar_url+'"><br>'+d.login);
            //             // setTimeout added to show loading
            //             setTimeout(function () {
            //                 $('#loading').html('<img src="' + d.avatar_url + '"><br>' + d.login);
            //             }, 2000);
            //         }
            //     });
            // });
        </script>
-->    




<style type="text/css">

    .pic  img{

    }

    .focus img{
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease; 
    }
    .focus img:hover{

        -moz-box-shadow: 0 0 40px #272822; 
        -webkit-box-shadow: 0 0 40px #272822; 
        box-shadow: 0 0 40px #272822; 

        /* this creates a cool effect where the picture floats */
        position: relative;
        float:;
        margin:20px;

        /*this is for the brightness*/
        opacity: 0.8; /* good browsers */
        filter: alpha(opacity=80); /* ye 'old IE */


    }

    .focus img:active{
        /*this is for the brightness*/
        opacity: 0.8; /* good browsers */
        filter: alpha(opacity=80); /* ye 'old IE */ 
    }

</style>    


<div class="show-image focus pic ">
    {% for image in images %}
        <img src="/media/{{ image.file.name }}" />
    {% endfor %}
</div>


{% endblock %}